<div class="overlay" (click)="this.submitted = false">
  <div *ngIf="submitted" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{result}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div class="container">

<p><b style="color: #007bff;">Create Event:</b></p>
<form [formGroup]="entityForm" (ngSubmit)="submit(entityForm.value)">

  <div class="form-group">
    <label>Name Id:&nbsp;</label>
    <input type="text" formControlName="id" required>
    <div *ngIf="entityForm.get('id')?.invalid && submitted" class="alert alert-danger">
      Name ID is required
    </div>
  </div>

  <div class="attributes-container">
    <h3>Attributes</h3>
    <button type="button" class="btn btn-primary" (click)="addAttribute(inputName.value,inputType.value,inputValue.value)">Add Attribute</button>

    Name:<input type="text" placeholder="name" style="width: 150px;" #inputName />&nbsp;
    Type:<input type="text" placeholder="type" style="width: 150px;" #inputType />&nbsp;
    Value:<input type="text" placeholder="value" style="width: 150px;" #inputValue />&nbsp;

    <div formArrayName="attributes">

      <div *ngFor="let item of attributes.controls; index as i" >
        <div [formGroupName]="i">
          <label>
            <b style="color: green;">{{i+1}} &nbsp;</b>
            {{item.get('name')?.value}}
          </label>
          <label>
            <b style="color: green;"> :&nbsp;</b>
            {{item.get('type')?.value}}
          </label>
          <label>
            <b style="color: green;"> :&nbsp;</b>
            {{item.get('value')?.value}}
          </label>
          <button type="button" (click)="removeAttribute(i)">Remove</button>
        </div>
      </div>
    </div>

  </div>

  <button type="submit" class="btn btn-success">Submit</button>

</form>
</div>




