<div class="overlay" (click)="this.submitted = false">
  <div *ngIf="submitted" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{result}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

  <div class="container">

    <p><label><b style="color: #c90101;">Delete Rule:</b></label></p>

    <form [formGroup]="entityRuleDeleteForm" (ngSubmit)="submit(entityRuleDeleteForm.value)">

      <div class="form-group">
        Rule ID: <input type="text" formControlName="idrule" required>
        <div *ngIf="entityRuleDeleteForm.get('idrule')?.invalid && submitted" class="alert alert-danger">
          Rule ID is required
        </div>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
    </div>






