
<div *ngIf="submitted" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{result}}</strong>
</div>

<div class="container">

  <p><label><b style="color: #03a924;">Create Rule:</b></label></p>

  <form [formGroup]="entityRuleForm" (ngSubmit)="submit(entityRuleForm.value)">

    <div class="form-group">
      Name Id:&nbsp;
      <input type="text" formControlName="id" required>
      <div *ngIf="entityRuleForm.get('id')?.invalid && submitted" class="alert alert-danger">
        Name ID is required
      </div>

      Event Rule:
      <textarea id="rule" formControlName="rule" rows="5" cols="70"></textarea>
      <div *ngIf="entityRuleForm.get('rule')?.invalid && submitted" class="alert alert-danger">
        Query is required
      </div>
      Destination Queue: <input type="text" formControlName="destination" required>
      <div *ngIf="entityRuleForm.get('destination')?.invalid && submitted" class="alert alert-danger">
        Destination is required
      </div>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
  </div>
